@model Neolution.OrchardCoreModules.PageViewStats.ViewModels.DashboardViewModel

<div class="row">
    <div class="col">
        <h1>Page View Statistics</h1>
        <div class="form-group d-inline-flex float-right mb-1">
            <div class="btn-group">
                <div class="dropdown order-md-1">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Last @Model.History days
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="?history=7">Last week</a></li>
                        <li><a class="dropdown-item" href="?history=14">Last two weeks</a></li>
                        <li><a class="dropdown-item" href="?history=21">Last three weeks</a></li>
                        <li><a class="dropdown-item" href="?history=30">Last month</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Views</th>
                    <th>Bot Views</th>
                    <th>Unique Visitors</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PageViews)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.TotalViews</td>
                        <td>@item.BotViews</td>
                        <td>@item.UniqueVisitors</td>
                        <td><a asp-controller="Day" asp-action="Index" asp-route-day="@item.Id" class="btn btn-success btn-sm">@T["Details"]</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
